@import "normalize.css";

body {
    background: yellow;
}

.test {
  width: 150px;
  height: 150px;
  background-image: url("../images/oie.jpeg");
  transform: translate3d(50%,0,0);
}

p {
  font-family: Arial, sans;
  color : black;
  font-size: 1.4em;
  font-weight: bold;
}
